<form [formGroup]="form">
  <div>
    <label>Nome</label>
    <input type="text" formControlName='nome' />
  </div>
  <div>
    <label>Idade</label>
    <input type="number" formControlName='idade' />
    <div class="help-block" style="width: 480px;" *ngIf="form.controls['idade'].hasError('required')">
      O campo é obrigatório.
    </div>
    <div class="help-block" style="width: 480px;" *ngIf="form.controls['idade'].hasError('min')">
      O campo tem que ser maior ou igual a 2
    </div>
  </div>
  <div formGroupName="perfil">
    <select formControlName="id">
        <option *ngFor="let p of perfis" [ngValue]="p.id">{{p.nome}}</option>
    </select>
  </div>
  <div>
    <button (click)="salvar()" >Salvar</button>
  </div>

</form>